body{
  background-color: #1F1F1F;
  /* background-color: #2D4356; */
  color: #d6d6d6;
  /* color:#EAB2A0; */
}
article{
  background-color: #252525;
  /* background-color: #435B66; */
  width:75%;
  position: relative;
}
li{
  list-style: none;
  margin: 0.25rem;
}
i{
  color: #d6d6d6;
  display: inline;
  padding: 0.25rem;
}
ul{
  padding: 0;
}
.fa-folder-plus{
  position: absolute;
  right: 10%;
}
.fa-file-circle-plus{
  position: absolute;
  right: 15%;
}
button{
  background-color: transparent;
  border-style: none;
  color: #d6d6d6;
  /* color: #EAB2A0; */
  font-weight: 500;
  padding-left: 0;
  /* margin: 1rem */
}
nav > span{
  margin-left: 12rem;
}
nav > p{
  display: inline-block;
  margin: 0 1rem;
}
form{
  display:inline;
  /* margin: 1rem; */
}