html{
  margin:0;
}
body{
  background-color: #1F1F1F;
  color: hwb(0 84% 16%);
  margin: 0;
}
article{
  background-color: #252525;
  width:75%;
  position: relative;
}
li{
  list-style: none;
  margin: 0.25rem;
}
i{
  color: #d6d6d6;
  display: inline;
  padding: 0 0.25rem;
  margin: 0.25rem;
  font-size: medium;
}
ul{
  padding: 0;
  margin-top: 0;
}
.fa-folder-plus{
  position: absolute;
  right: 1rem;
}
.fa-file-circle-plus{
  position: absolute;
  right: 4rem;
}
button{
  background-color: transparent;
  border-style: none;
  color: #d6d6d6;
  font-weight: 700;
  padding-left: 0;
  font-size: medium;
}
form{
  display:inline;
}
form > input{
  font-size: medium;
  margin: 0 0.15rem;
  border-radius: 0.25rem;
}

/* fonts  */

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../assets/noto_sans/NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.NotoSans{
  font-family: 'NotoSans-Regular', sans-serif;
}